{% extends  'core/base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
    {% trans 'Search Images' %}
{% endblock %}

{% block content %}
    {% include 'core/header.html' %}

    {% url 'core:search_img' as action_path %}
    <div class="container-fluid p-2 ">
        {% include 'core/search/search_form.html' with action_path=action_path %}
    </div>

    <div id="content" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if request.GET.q != '' or request.GET.q == None %}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">

                            <form action="{% url 'core:search' %} ">
                                <input style="display: none" type="text" name="q" value="{{ query }}">
                                <button class="nav-link" id="all-tab" data-bs-toggle="tab" data-bs-target="#all"
                                        type="submit" role="tab" aria-controls="all"
                                        aria-selected="true">{% trans 'All' %} </button>
                            </form>
                        </li>
                        <li class="nav-item" role="presentation">

                            <form action="{% url 'core:search_img' %} ">
                                <input style="display: none" type="text" name="q" value="{{ query }}">
                                <button class="nav-link active" id="images-tab" data-bs-toggle="tab" data-bs-target="#images"
                                        type="submit" role="tab" aria-controls="images"  aria-selected="false">
                                    {% trans 'Images' %}
                                </button>
                            </form>
                        </li>
                        <li class="nav-item" role="presentation">

                            <form action="{% url 'core:search_etc' %} ">
                                <input style="display: none" type="text" name="q" value="{{ query }}">
                                <button class="nav-link" id="etc-tab" data-bs-toggle="tab" data-bs-target="#etc"
                                        type="submit" role="tab" aria-controls="etc" aria-selected="false">{% trans 'Others' %} </button>
                            </form>
                        </li>
                        <hr class="nomargin-bottom margin-top-10">
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="images" role="tabpanel"
                             aria-labelledby="images-tab">
                            {% include 'core/search/images.html' %}
                        </div>
                    </div>

                {% else %}
                    <h2 class="bd">{% trans 'Empty query' %}</h2>
                {% endif %}
            </div>
        </div>

    </div>


{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#myTab a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
{% endblock %}