{% extends "users/admin_templates/layouts/base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Edit Record' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 float-sm-right">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="{% url 'users:index' %}"><i
                                    class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active">{% trans 'Edit Record' %}</li>
                        </ol>
                    </div>
                    <div class="col-sm-6">
                        <h5>{% trans 'Edit Record' %} </h5>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- Default box -->
            <div class="card">
                <div class="card-body p-0">
                    <div class="justify-content-between align-items-center py-4">
                        <form class="form-floating" action="" method="POST" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% comment %} Display Messages {% endcomment %}
                            {% if messages %}
                                <div class="form-group">
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == "error" %}
                                                <div class="alert alert-warning alert-dismissible fade show"
                                                     role="alert">
                                                    {{ message }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                            aria-label="Close"></button>
                                                </div>
                                            {% elif message.tags == "success" %}
                                                <div class="alert alert-success alert-dismissible fade show"
                                                     role="alert">
                                                    {{ message }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                            aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                {% comment %} Adding Form with All inputs Here{% endcomment %}
                                {% for field in form %}
                                    <div class="row mb-4">
                                        <div class="col-lg-4 col-sm-6">

                                            <span class="text-danger">{{ field.errors }}</span>
                                            {{ field.label_tag }}
                                        </div>
                                        <div class="col-lg-4 col-sm-6">

                                            {{ field }}
                                        </div>
                                    </div>

                                {% endfor %}
                                <button type="submit" class="btn btn-outline-success">{% trans 'Update' %}</button>
                                <input class="btn btn-outline-danger" value="{% trans 'Cancel' %}" type="button"
                                       onclick="location.href='{{ request.META.HTTP_REFERER }}';">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}