{% extends "users/admin_templates/layouts/base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Support' %}  
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
      <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 float-sm-right">
              <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item"><a href="{% url 'users:index' %}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item active">{% trans 'Support' %} </li>
              </ol>
          </div>
          <div class="col-sm-6">
              <h5>{% trans 'Support Table' %}  </h5>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
      <!-- Default box -->
      <div class="card">
   <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>{% trans 'ID' %} </th>
                                <th>{% trans 'User' %} </th>
                                <th>{% trans 'Subject' %} </th>
                                <th>{% trans 'Message' %} </th>
                                <th>{% trans 'Status' %} </th>

                                <th>{% trans 'Action' %} </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in object_list %}
                                <tr>
                                <td>{{ s.id }}</td>
                                <td>{{ s.user }}</td>
                                <td>{{ s.subject }}</td>
                                <td>{{ s.message }}</td>
                                <td>{{ s.get_status_display }}</td>

                                <td>{% if not s.status == 'solved' %}
                                    <a href="#" class="btn btn-success">{% trans 'Reply' %} </a>
                                    <a href="{% url 'feedback:mark_solved_support' s.id %}" class="btn btn-warning">{% trans 'Mark as solved' %} </a>
                                    {% endif %}
                                </td>
                                </tr>

                                {% endfor %}

                            </tbody>
                            </table>
                        </div>
            {% include "users/admin_templates/includes/pagitation.html"  %}
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
