{% extends "users/admin_templates/layouts/base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Reset password' %}  {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">

            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- Default box -->
            <div class="card">
                <div class="card-body p-0">
                    <div class="row justify-content-center form-bg-image">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                                <h1 class="h3 mb-4">{% trans 'Reset password' %}</h1>
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    {% if messages %}
                                        <div class="form-group">
                                            <div class="col-12">
                                                {% for message in messages %}
                                                    {% if message.tags == "error" %}
                                                        <div class="alert alert-warning alert-dismissible fade show"
                                                             role="alert">
                                                            {{ message }}
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    {% elif message.tags == "success" %}
                                                        <div class="alert alert-success alert-dismissible fade show"
                                                             role="alert">
                                                            {{ message }}
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% for field in form %}
                                        <div class="row mb-4">
                                            <div class="col-lg-4 col-sm-6">
                                                <span class="text-danger">{{ field.errors }}</span>
                                                {{ field.label_tag }}
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="d-grid">
                                        <button type="submit"
                                                class="btn btn-dark">{% trans 'Change password' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
