{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <!--[if lt IE 10]>
    <script type="application/javascript" src="{% static 'login/html5shiv.js' %}"></script>
    <script type="application/javascript" src="{% static 'login/respond.min.js' %} "></script>
        <![endif]-->

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="description" content="" />
    <meta name="keywords" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <meta charset="UTF-8">

    <!-- vendor css -->
    <script type="application/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.1.0-dist/css/bootstrap.min.css' %}">


    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}    

</head>
<body class="">

{% block messages %}
{% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
    {% block content %}{% endblock content %}

<script type="application/javascript" src="{% static 'bootstrap-5.1.0-dist/js/bootstrap.min.js' %}"></script>
<script type="application/javascript" src="{% static 'bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>


